<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="{{ page.description | default: 'Explore articles about Drupal, CMS, AI, and web development by Juan de la Oliva.' }}">
  <meta name="keywords" content="{{ page.keywords | default: 'Drupal, CMS, AI, Artificial Intelligence, web development, technology, blog, Spain, software' }}">
  <meta name="author" content="{{ page.author | default: 'Juan de la Oliva' }}">
  
  <meta property="og:title" content="{{ page.title | default: site.title }}">
  <meta property="og:description" content="{{ page.description | default: site.description }}">
  <meta property="og:url" content="{{ site.url }}{{ page.url }}">
  <meta property="og:type" content="website">
  <meta property="og:image" content="https://juandelaoliva.com/images/blog-thumbnail.jpg">
  <meta property="og:locale" content="en_US">
  <meta property="og:locale:alternate" content="es_ES">
  
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="{{ page.title | default: site.title }}">
  <meta name="twitter:description" content="{{ page.description | default: site.description }}">
  <meta name="twitter:image" content="https://juandelaoliva.com/images/blog-thumbnail.jpg">
  
  <title>{{ page.title | default: site.title }}</title>
  <link rel="stylesheet" href="{{ '/css/base.css' | relative_url }}">
<link rel="stylesheet" href="{{ '/css/style.css' | relative_url }}">
<link rel="stylesheet" href="{{ '/css/animate.css' | relative_url }}">
<link rel="stylesheet" href="{{ '/css/magnific-popup.css' | relative_url }}">
<link rel="stylesheet" href="{{ '/css/owl-carousel.css' | relative_url }}">

  <script async src="https://www.googletagmanager.com/gtag/js?id=G-21EDP0MN6W"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  
  gtag('config', 'G-21EDP0MN6W');
</script>

  <script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "WebSite",
  "name": "Juan de la Oliva's Blog",
  "url": "https://juandelaoliva.com",
  "description": "Explore articles about Drupal, CMS solutions, Artificial Intelligence (AI), and web development.",
  "author": {
    "@type": "Person",
    "name": "Juan de la Oliva"
  },
  "publisher": {
    "@type": "Organization",
    "name": "Juan de la Oliva",
    "logo": {
      "@type": "ImageObject",
      "url": "https://juandelaoliva.com/images/juandelaoliva-juan_de_la_oliva.jpg"
    }
  },
  "potentialAction": {
    "@type": "SearchAction",
    "target": "https://juandelaoliva.com/search?q={search_term_string}",
    "query-input": "required name=search_term_string"
  }
}
</script>


</head>
<body>
  <header>
    <h1>{{ site.title }}</h1>
    <nav>
      <ul>
        <li><a href="{{ '/' | relative_url }}">Home</a></li>
        <li><a href="{{ '/blog.html' | relative_url }}">Blog</a></li>
      </ul>
    </nav>
  </header>

  <main>
    {{ content }}
  </main>

  <footer>
    <p>&copy; {{ site.time | date: "%Y" }} Juan de la Oliva. All rights reserved.</p>
  </footer>
</body>
</html>
